.header{
    height: 34vw;
    background: url(./header_img.png) no-repeat;
    margin: 30px auto;
    background-size: contain;
    position:relative;
    left:10%;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.35vw;
    max-width: 50%;
    bottom:10%;
    left: 6%;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    font-size: max(4.5vw,22px);
    color:#fff;
}

.header-contents p{
    font-size:1vw;
    color: #fff;
}
 .header-contents button{
    font-weight: 500;
    padding: 1vw 2.3vw;
    border: none;
    color: #333;
    background-color: #cde6e6;
    font-size: max(1vw,13px);
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
 }

 .header-contents button:hover{
    color: #333;
    background-color: #dabe9e;
 }

 @media (max-width:1050px){
    .header{
        height: 38vw;
    }

    .header-contents{
        max-width: 45%;
        margin-bottom: 30px;
    }

    .header-contents h2{
        font-weight: 500;
        color: #fff;
        font-size: max(3.5vw,20px);
    }
 }

  @media (max-width:750px){
    .header-contents{
        max-width: 65%;
    }

    .header-contents p{
        display: none;
    }

    .header-contents button{
        padding: 2vw 4vw;
    }
 }

