.footer{
    color:#d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8px;
    padding-top: 50px;
    margin-top: 100px;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap:80px;
}

.footer-content-left,.footer-content-right,.footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left img{
    width:350px;
    height: 80px;
}

.footer-social-icons img{
    width: 30px;
    height: 30px;
    margin-right:10px;
}

.footer-content-right li,.footer-content-center li{
    list-style: none;
    margin-bottom: 10px;
    cursor:pointer;
}

.footer-content-center h2,.footer-content-right h2{
    color:#eb5404;
    font-size:20px;
    font-weight:600;
    margin-top: 21px;
}

.footer hr{
    border: none;
    width: 100%;
    margin: 20px 0px;
    background-color: gray;
    height: 2px;
}

@media (max-width:750){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .footer-copyright-text{
        text-align: center;
    }
}